:root {
  /* Sizes */
  --header-height: 64px;
  --footer-height: 40px;
  --content-max-width: 1100px;

  /* Margins */
  --container-horizontal-margin: calc((100% - var(--cointaner-min-width)) / 2);

  /* Colors */
  --color-accent: #e42412;
  --color-accent-light: #ec6559;
  --color-secondary: #565455;

  /* Backgrounds */
  --color-bg-primary: #242323;

  /* Borders */
  --border-color: #565455;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  list-style: none;
}

html {
  background-color: var(--color-bg-primary);
  min-width: calc(min(100%, var(--content-max-width)));
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  background-color: var(--color-secondary);
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.header__container {
  width: var(--content-max-width);
  height: var(--header-height);
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__label__logo {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  scale: 1;
}

.header__label__logo:hover {
  border-radius: 100%;
  box-shadow: 0 0 10px 4px var(--color-accent);
  scale: 1.1;
  transition: 0.3s;
}

.header__label__text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.header__nav__container {
  list-style: none;
  display: flex;
  gap: 14px;
}

.header__nav__item {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.header__nav__item:hover {
  color: var(--color-accent);
  transition: 0.3s;
}

.main {
  margin: auto;
  margin-top: calc(var(--header-height) + 56px);
  margin-bottom: calc(var(--footer-height) + 56px);
  width: var(--content-max-width);
}

.main__home__container {
  display: flex;
  gap: 24px;
}

.main__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main__header__title {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 14px;
  color: white;
}

.main__header__title__link {
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.main__header__title__link:hover {
  color: var(--color-accent);
  transition: 0.3s;
}

.main__home__container__nav {
  padding: 0%;
  row-gap: 24px;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.main__home__container__nav__item {
  padding: 0px;
  margin: 0px;
  background-color: var(--color-accent);
  transition: 0.3s;
  scale: 1;
}

.main__home__container__nav__item:hover {
  box-shadow: 0 0 10px 0px var(--color-accent);
  background-color: var(--color-accent-light);
  scale: 1.1;
  transition: 0.3s;
}

.main__home__container__nav__title {
  padding: 12px;
  font-weight: bold;
  color: white;
}

.main__home__container__nav__item__link {
  width: 300px;
  height: 300px;
}

.main__container__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-accent);
  padding: 24px;
  font-weight: bold;
  color: white;
}

.main__home__container__text__link {
  color: var(--color-bg-primary);
  text-decoration: none;
  transition: 0.3s;
}

.main__home__container__text__link:hover {
  color: white;
  text-decoration: underline;
  transition: 0.3s;
}

.main__container__comments {
  display: flex;
  gap: 24px;
}

.main__container__comments__commenter {
  font-size: 16px;
  font-weight: 500;
}

.footer {
  position: fixed;
  background-color: var(--color-secondary);
  width: 100%;
  bottom: 0px;
}

.footer__container {
  padding: 16px 0px;
  width: var(--content-max-width);
  justify-content: center;
  margin: auto;
}

.footer__text {
  color: white;
  font-weight: bold;
}

.main__catalog__container {
  background-color: var(--color-accent);
  padding: 24px;
}

.main__catalog__container__list {
  list-style: circle !important;
  gap: 24px;
}

.main__catalog__container__list__item {
  list-style: circle !important;
  margin-left: 24px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

.main__catalog__container__title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}